<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Testing Mage</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Just testing mage.">
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen"/>
      <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen"/>
  </head>

  <body>
  
    {% include "header.html" %}
    
    {% include "index-content.html" %}
    
    {% include "footer.html" %}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/mage.js"></script>
    <script>
    function paddedOrNot(n) {
      n < 10
        ? n = '0' + i
        : n = n.toString;
      return n;
    }
      
    var pageNumber = parseInt(window.location.pathname.split('/')[1]);
    pageNumber = paddedOrNot(pageNumber);
    var pageImage = document.getElementsByClassName('page-image')[0];
    pageImage.id = 'page-' + pageNumber;
    
    var toPass = {};
    for (var i = 1; i < 19; i++) {
      number = paddedOrNot(i)
      toPass['page-' + number] = number + 'jpg';
    }
    toPass.baseUrl = '/static/manga/';
    
    mage.teleport(toPass);
    </script>

  </body>

</html>


